{% extends "main.html" %}

{% block body %}
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Files processed</h5>
                      <span class="h2 font-weight-bold mb-0">{{ processed_files }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-file"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">In Process</h5>
                      <span class="h2 font-weight-bold mb-0">{{ inprocess_files }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-stopwatch"></i>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
                        <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Processing globally</h5>
                      <span class="h2 font-weight-bold mb-0">{{ processing_globally }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-globe"></i>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row mt-5">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col-8">
                <h3 class="mb-0">Latest Tasks</h3>
                </div>
                <div class="col-4 text-right">
                  <button onclick="resetUploadForm()" type="button" id="add-task" class="btn btn-warning" data-toggle="modal" data-target="#modal-default">
                    <div>
                      <i class="ni ni-fat-add"></i>
                      <span>Add Task</span>
                    </div>
                  </button>
                  <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                        <div id="add-task-modal" class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="modal-title-default">Add Task</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body text-left">
                              <div class="nav-wrapper">
                                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                                    <li class="nav-item">
                                        <button id="videos-tab" class="btn btn-block nav-link mb-sm-3 mb-md-0 active" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="ni ni-button-play mr-2"></i>Video</button>
                                    </li>
                                    <li class="nav-item">
                                        <button id="images-tab" class="btn btn-block nav-link mb-sm-3 mb-md-0" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="fa fa-image mr-2"></i>Images</button>
                                    </li>
                                    <li class="nav-item">
                                        <button id="youtube-tab" class="btn btn-block nav-link mb-sm-3 mb-md-0" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="fa fa-youtube mr-2"></i>YouTube</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="videos-tab">
                                            <div class="row align-items-center">
                                              <div class="col">
                                                Only .mp4 files. Please, choose small-sized files due to the slow internet connection of the server. Only 1 minute of the video will be processed.
                                              </div>
                                            </div>
                                          <form enctype="multipart/form-data" method="post">
                                                <div class="row">
                                                  <div class="col">
                                              <div class="custom-file">
                                                  <input type="file" class="custom-file-input" id="uploadVideoFile" name="videofile" accept="video/*">
                                                  <label class="custom-file-label" for="uploadVideoFile" >Select video</label>
                                                </div>
                                              </div>
                                              </div>
                                            <div id="video-upload-progress" class="progress-wrapper">
                                            <div class="progress-info">
                                              <div id="videoUploadProgressLabel" class="progress-label">
                                                <span>Task completed</span>
                                              </div>
                                              <div id="videoUploadProgressPercentage" class="progress-percentage">
                                                <span>0%</span>
                                              </div>
                                            </div>
                                            <div class="progress">
                                              <div id = "videoUploadProgressBar" class="progress-bar bg-primary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                                            </div>
                                          </div>
                                                  <div class="row" style="margin-top: 1em;">
                                                    <div class="col text-right">
                                                      <button onclick="uploadVideo(this)" id="upload-video" class="btn btn-icon btn-3 btn-primary" type="submit" value="upload">
                                                        <span class="btn-inner--icon"><i class="ni ni-cloud-upload-96"></i></span>
                                                        <span class="btn-inner--text">Upload</span>
                                                      </button>
                                                  </div>
                                                </div>
                                          </form>
                                        </div>
                                        <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="images-tab">
                                              <div class="row align-items-center">
                                                <div class="col">
                                                  .png, .jpg and .jpeg formats are accepted. Only one image is allowed.
                                                </div>
                                              </div>
                                            <form enctype="multipart/form-data" method="post">
                                              <div class="row">
                                                <div class="col">
                                                  <div class="custom-file">
                                                      <input type="file" accept="image/*" class="custom-file-input" id="uploadImages" name="imagefile">
                                                      <label class="custom-file-label" for="uploadImages" >Select image</label>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="row" style="margin-top: 1em;">
                                                  <div class="col text-right">
                                                    <button onclick="uploadImages()" id="upload-image" class="btn btn-icon btn-3 btn-primary" type="submit" value="upload">
                                                      <span class="btn-inner--icon"><i class="ni ni-cloud-upload-96"></i></span>
                                                      <span class="btn-inner--text">Upload</span>
                                                    </button>
                                                </div>
                                              </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="youtube-tab">
                                          <div class="row align-items-center">
                                                <div class="col">
                                                    Provide the link to the video. Only 1 minute of the video with maximal resolution 480p will be processed.
                                                </div>
                                              </div>
                                            <form enctype="multipart/form-data" action="/addtask" method="post">
                                              <div class="row">
                                                <div class="col">
                                                  <div class="form-group">
                                                    <input type="url" class="form-control" name="youtubevideo" placeholder="https://www.youtube.com/watch?v=Fzd-e1TUhCg">
                                                  </div>
                                                </div>
                                              </div>
                                                  <div class="row">
                                                      <div class="col text-right">
                                                        <button onclick="uploadYouTube()" id="submit-youtube" class="btn btn-icon btn-3 btn-primary" type="submit" value="youtubefile">
                                                          <span class="btn-inner--icon"><i class="ni ni-cloud-upload-96"></i></span>
                                                          <span class="btn-inner--text">Submit</span>
                                                        </button>
                                                    </div>
                                                  </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button id="submit-task" class="btn btn-icon btn-3 btn-success" type="button" disabled>
	                          <span class="btn-inner--icon"><i class="ni ni-check-bold"></i></span>
                              <span class="btn-inner--text">Submit Task</span>
                            </button>
                            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Project</th>
                    <th scope="col">Status</th>
                    <th scope="col">Detected Persons</th>
                    <th scope="col">Current Stage</th>
                    <th scope="col">Completion</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for file in files %}
                  <tr>
                    <th scope="row">
                      {{ file.filename }}
                    </th>
                    <td>
                      {% if file.json_file != None %}
                        <a href=/output/{{ file.json_file }}>Download</a>
                      {% else %}
                        None Yet
                      {% end %}
                    </td>
                    <td>
                      {% if file != None %}
                        <a href=/output/{{ file }}>Download</a>
                      {% else %}
                        None Yet
                      {% end %}
                    </td>
                    <td>
                      {% if file.status == 0 %}
                        Queued
                      {% elif file.status == 1 %}
                        Processing
                      {% elif file.status == 2 %}
                        Finished
                      {% elif file.status == 3 %}
                        Failed
                      {% end %}
                    </td>
                  </tr>
                  {% end %}
                </tbody>
                <tbody>
                {% for file in files %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ file.filename }}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i> pending
                      </span>
                    </td>
                    <td>
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                          <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                          <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                          <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                          <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                        </a>
                      </div>
                    </td>
                    <td>
                      $2,500 USD
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">60%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% end %}
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Last tasks</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Filename</th>
                    <th scope="col">JSON Output</th>
                    <th scope="col">Video/Image Output</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for file in files %}
                  <tr>
                    <th scope="row">
                      {{ file.filename }}
                    </th>
                    <td>
                      {% if file.json_file != None %}
                        <a href=/output/{{ file.json_file }}>Download</a>
                      {% else %}
                        None Yet
                      {% end %}
                    </td>
                    <td>
                      {% if file != None %}
                        <a href=/output/{{ file }}>Download</a>
                      {% else %}
                        None Yet
                      {% end %}
                    </td>
                    <td>
                      {% if file.status == 0 %}
                        Added
                      {% elif file.status == 1 %}
                        Processing
                      {% elif file.status == 2 %}
                        Finished
                      {% elif file.status == 3 %}
                        Failed
                      {% end %}
                    </td>
                  </tr>
                  {% end %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
{% end %}
