{% extends "main.html" %}

{% block body %}
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Files processed</h5>
                      <span class="h2 font-weight-bold mb-0">{{ processed_files }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-file"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">In Process</h5>
                      <span class="h2 font-weight-bold mb-0">{{ inprocess_files }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-stopwatch"></i>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Processing globally</h5>
                      <span class="h2 font-weight-bold mb-0">{{ processing_globally }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-globe"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">{{ type }}</h6>
                  <h2 class="text-white mb-0">{{ name }}</h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Start Video Player -->
              <div id="videoContainer" class="videoContainer">

	<video id="videoPlayer" controls preload="auto" ontimeupdate='set_json_data({{ json_data }})' poster="{{ image_URL }}" >
	  <source src="{{ video_URL }}" type="video/mp4" />
	  <p>Your browser does not support the video tag.</p>
	</video>
	<div class="control">

		<div class="topControl">
			<div class="progress-player">
				<span class="bufferBar"></span>
				<span class="timeBar"></span>
			</div>
			<div class="time">
				<span class="current"></span> /
				<span class="duration"></span>
			</div>
		</div>

		<div class="btmControl">
			<div class="btnPlay btnP" title="Play/Pause video"></div>
			<div class="btnStop btnP" title="Stop video"></div>
			<div class="btnx1 btnP text selected" title="Normal speed">x1</div>
			<div class="btnx3 btnP text" title="Fast forward x3">x3</div>
			<div class="btnFS btnP" title="Switch to full screen"></div>
			<div class="btnLight lighton btnP" title="Turn on/off light"></div>
			<div class="volume" title="Set volume">
				<span class="volumeBar"></span>
			</div>
			<div class="sound sound2 btnP" title="Mute/Unmute sound"></div>
		</div>

	</div>
    <canvas id="videoCanvas"></canvas>
	<div class="loading"></div>
</div>
              <!-- End Video Player -->
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Person Details</h6>
                  <h2 id="person-info" class="mb-0">s</h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <canvas id="chart-orders" class="chart-canvas chartjs-render-monitor" width="334" height="350" style="display: block; width: 334px; height: 350px;"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src={{ static_url("js/video_player.js") }}?v=1.0.0></script>

{% end %}